*{
  padding: 0;
  margin: 0;
}
.top-bar{
  padding: 10px 0;
  background-color: #fbfbfb;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  width: 1200px;
  max-width: 1200px;
  position: relative;
}
body{
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
.left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-header, .right-header{
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.top-bar .truyenqq a{
  background: url(http://static.truyenqq.com/template/frontend/images/logo.png) no-repeat;
  width: 146px;
  height: 34px;
  display: block;
}
.top-bar .truyenqq{
  text-indent: -9999px;
}
.span{
  font-style: inherit;
  font-weight: inherit;
}
a:visited{
  text-decoration: none;
}
.container .item-search{
  width: 420px;
  margin-left: 80px;
}
.item-search{
  height: 44px;
  position: relative;
}
.item-search input[type=text]{
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  border: solid 1px #e8e8e8;
  border-radius: 50px;
  padding: 0 45px 0 20px;
  color: #757575;
}
.item-search .submit-btn{
  background: url(http://static.truyenqq.com/template/frontend/images/search-icon.png) no-repeat;
    width: 32px;
    height: 32px;
  position: absolute;
  top: 6px;
  right: -50px;
  border: none;
}
.right-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top-bar .item-link{
  display: flex;
  margin-right: 30px;
}
ul{
  list-style: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.top-bar .item-link li{
  margin-right: 20px;
}
.top-bar .item-link li a{
  color: black;
}
a:visited{
  text-decoration: none;
}
a{
  background: 0 0;
  text-decoration: none;
}
.top-bar .item-link li .download-app-icon{
  background: url(http://static.truyenqq.com/template/frontend/images/download-app-icon.png) no-repeat;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 4px;
}
.top-bar .item-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 165px;
  border-left: 1px solid #bbb;
  padding-left: 25px;
}
.top-bar .item-button .login-btn{
  background-color: orange;
  margin-right: 10px;
}
.top-bar .item-button button{
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.25);
  height: 44px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  font-size: 12px;
}
.top-bar .item-button .register-btn{
  background-color: #56ccf2;
}
.mainnav > ul{
  width: 100%;
  background-color: #f18121;
  text-align: center;
}
.mainnav > ul > li{
  display: inline-table;
  width: 120px;
  height: 44px;
  line-height: 44px;
  position: relative;
}
.mainnav > ul > li > a{
  color:white;
  display: block;
}
.mainnav > ul > li a:hover{
  background-color: #f1f1f1;
  color: #333;
}
.mainnav ul li > .hostmega{
  display: none;
  position: absolute;
}

.mainnav > ul > li:hover > .hostmega{
  display: block;
}
.hostmega::before {
  opacity: 1;
  visibility: visible;
  background: #FFF;
  content: "";
  height: 100%;
  width: 200vw;
  left: -100vw;
  top: 0;
  position: absolute;
  /* z-index: 10; */
}

.bigmega, .bigmega * {
  z-index: 20;
}

.mainnav ul li .bigmega{
  display: flex;
}
.table1{
  display: block;
}
.bigmega{
  width: 100%;
}
.bigmega .mega .column li {
  width: 120px;
  height: 38px;
  line-height: 44px
}
.bigmega .mega .column li a {
  color: #000;
}
.mainnav{
  height: 55px;
}
table{
  margin: auto;
  width: 300px;
}
body{
  background-color: #ebebeb;
} 
.calendar{
  background-color: white;
  margin: auto;
  width: 1170px;
  height: 100px;
  display: flex;
}
.calendar-box{
  flex: 0 0 120px;
  background-color: #f18121;
}